.movie-container {
  color: #fff;
  width: 760px;
  height: 390px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 770px;
  background: linear-gradient(to right, #4297E0, #9DE0B7); 
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
          box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.movie-details {
  width: 90%;
  padding: 30px;
  margin-top: -25px;
}

.movie-details h5 {
  font-size: 30px;
}

.PG, .year, .genre, .time {
  color: fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
}

.PG {
  background: #92FE9D;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
          box-shadow: 0 0 50px rgba(0,0,0,0.1);
  -webkit-transition: 300ms ease-in-out;
}

.disc {
  font-weight: 100;
  line-height: 27px;
}

a {
  color: darkcyan;
  display: block;
  text-decoration: none;
}

button {
  color: #fff;
  border: none;
  padding: 20px;
  outline: none;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 10px;
  background: #92FE9D;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
          box-shadow: 0 0 20px rgba(0,0,0,0.2);
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

button.btn-primary {
  background-color: #255;
  color: #fff;
}

button.btn-primary:hover {
  background-color: #337ab7;
}

.btn-primary {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
