<div class="container text-right pull-right">
    <p style="margin-right: 75px; font-size: medium;">Sort the movies by </p>
    <button class="btn btn-primary" (click)="onFilterChange('date')"> Date </button>
    <button class="btn btn-primary" (click)="onFilterChange('duration')"> Duration </button>
    <button class="btn btn-primary" (click)="onFilterChange('rating')"> Rating </button>
    <button class="btn btn-primary" (click)="onFilterChange('none')">None</button>
    
</div>
<div class="container mt-4" style="margin-top: 150px;">
    
        <div class="row">
            <div class="col-md-3" *ngFor="let movie of moviesData.slice((currentPage - 1) * 5, currentPage * 5)">
                <div class="card" (click) = "navigateToMovieDetails(movie.id)">
                    <img [src] = movie.poster class="card-img-top" alt="..." style="width: 200px; height: 300px;"/>
                    <div class="card-body">
                        <h4 class="card-title">
                            {{movie.name}}
                        </h4>
                        <p class="card-text">
                            <strong style="color: red;">Release Date: </strong> {{movie.releaseDate}}
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary mr-5" (click)="previousPage()" [disabled]="currentPage === 1">Back</button>
            <button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage >= totalPages">Next</button>
        </div>
</div>

    <!-- <div class="container text-left">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Sort by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" (click)="onFilterChange('date')">Date</a></li>
                <li><a href="#" (click)="onFilterChange('duration')">Duration</a></li>
                <li><a href="#" (click)="onFilterChange('rating')">Rating</a></li>
                <li><a href="#" (click)="onFilterChange('none')">None</a></li>
    
            </ul>
        </div>
    
    </div>-->